@use '../../variables.scss' as v;

.todo-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin: 5px 0;
	height: 70vh;
	overflow-y: auto;
	min-width: 100%;
	padding: 0 10px;
	align-items: center;
}

ul {
	list-style: none;
	min-width: 90vw;
}

.absolute-bottom {
	display: flex;
	width: 80%;
}

.todo-input {
	border-radius: 5px 0 0 5px;
	background-color: rgb(59, 59, 64);
	border-style: none;
	padding-left: 2vh;
	color: v.$text;
	font-size: large;
	z-index: 2;
	flex: 1;
	margin-left: 10px;
	outline: none;

	&:focus-within {
		background-color: v.$bg-active;
	}

	&-isDone {
		color: grey;
		text-decoration: line-through;
	}
}

.todo-input-form {
	display: flex;
	color: v.$text;
	padding: 5px;

	width: 100%;
	align-items: center;
}

.todo-input-form:focus-within {
	::placeholder {
		color: v.$text;
	}
}

.todo-button {
	width: auto;
	padding: 0 15px;
	transition: 0.2s ease-in-out;
	color: v.$text;
	cursor: pointer;
	background-color: v.$bg-clickable-items;
	border-style: none;
	border-radius: 0px 5px 5px 0px;

	&:hover {
		outline: none;
		background-color: v.$bg-button;
	}

	&:active {
		outline: none;
		background-color: v.$bg-active;
	}
}

@media (max-width: 768px) {
	.todo-input-form {
		min-height: 50px;
	}

	.todo-button {
		padding: 0 10px;
		font-size: 14px;
	}
}

@media (max-width: 480px) {
	.todo-list {
		height: 80vh;
	}

	.todo-input-form {
		align-items: stretch;
		gap: 5px;
	}

	.todo-input {
		min-width: 65%;
		margin-left: 0;
	}
	ul {
		list-style: none;
		min-width: 90vw;
	}
}

@keyframes react-loading-skeleton {
	100% {
		transform: translateX(100%);
	}
}

.react-loading-skeleton {
	--base-color: #ebebeb;
	--highlight-color: #f5f5f5;
	--animation-duration: 1.5s;
	--animation-direction: normal;
	--pseudo-element-display: block;

	background-color: var(--base-color);

	width: 100%;
	border-radius: 0.25rem;
	display: inline-flex;
	line-height: 1;

	position: relative;
	user-select: none;
	overflow: hidden;
}

.react-loading-skeleton::after {
	content: ' ';
	display: var(--pseudo-element-display);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient(
		90deg,
		var(--base-color),
		var(--highlight-color),
		var(--base-color)
	);
	transform: translateX(-100%);

	animation-name: react-loading-skeleton;
	animation-direction: var(--animation-direction);
	animation-duration: var(--animation-duration);
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

@media (prefers-reduced-motion) {
	.react-loading-skeleton {
		--pseudo-element-display: none;
	}
}
