@use '../../variables.scss' as v;

.language-switcher {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.todo-button {
	transition: 0.2s ease-in-out;
	color: v.$text;
	cursor: pointer;
	background-color: v.$bg-clickable-items;
	border-style: none;
	padding: 0 15px;
	margin: 0 0 0 5px;
	border-radius: 5px 0px 0px 5px;
	&:hover {
		outline: none;
		background-color: v.$bg-button;
	}
	&:active {
		outline: none;
		background-color: v.$bg-active;
	}
	img {
		filter: invert(1);
	}
}
