.success {
	background-color: rgb(255, 245, 238);
	border: 1px solid #ded;
	color: rgb(206, 120, 113);
}
.hidden {
	visibility: hidden;
	transition: ease 1s;
	opacity: 0;
}
.success,
.hidden {
	position: absolute;
	bottom: 5vh;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
}
