* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: linear-gradient(120deg, #f69635, #fda085, #49b733);
	color: white;
	font-family: sans-serif;
	min-height: 100vh;
}

header {
	font-size: 1.5rem;
}

header,
.App {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App input,
.App button {
	padding: 0.5rem;
	font-size: 2rem;
	border: none;
	background: white;
}

.App button {
	color: #f69635;
	background: white;
	cursor: pointer;
	transition: all 0.3s ease;
}

.App button:hover {
	background-color: #dfafa2;
	color: white;
}

.todo-list {
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.todo {
	display: flex;
	align-items: center;
	align-self: center;
}

.success {
	display: flex;
	gap: 15px;
	background-color: #efe;
	border: 1px solid #ded;
	color: #9a9;
}

.alert {
	position: relative;
	top: 10;
	left: 0;
	width: auto;
	height: auto;
	padding: 10px;
	margin: 10px;
	line-height: 1.8;
	border-radius: 5px;
	cursor: hand;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: 400;
}
