* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.light-theme {
	--background: #ffffff;
	--text: #000000;
}

.dark-theme {
	--background: rgba(52, 53, 65, 1);
	--text: #f8f8f2;
}

#root {
	height: 100vh;
	width: 100%;
	background: var(--background);
	color: var(--text);
	overflow-y: auto;
}

html,
body {
	/* height: 100%; */
}

/* body {
	background-image: linear-gradient(120deg, #f69635, #fda085, #49b733);
	color: white;
	font-family: sans-serif;
	min-height: 100vh;
} */

header {
	font-size: 1.5rem;
}

header,
.App {
}

.App input,
.App button {
}

.App button {
	/* color: #f69635;
	background: white;
	cursor: pointer;
	transition: all 0.3s ease; */
}

.App button:hover {
	/* background-color: #dfafa2;
	color: white; */
}

.todo-container {
	display: flex;
}
.todo {
	display: flex;
	flex-direction: row;
	min-height: 8vh;
	border-radius: 5px;
	background-color: rgb(59, 59, 64);
	border-style: none;
	/* padding-left: 2vh; */
	color: var(--text);
	margin-bottom: 2vh;
	margin-top: 2vh;

	overflow: hidden;
}

.todo-list {
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 15%;
}

.todo-title {
	width: 80%;
	min-width: 80%;
	align-self: center;
	word-wrap: break-word;
	padding: 3px;
	background-color: rgb(59, 59, 64);
	border: none;
	color: (var(--text));
	padding-left: 2vh;
}

.todo-title:focus,
input:focus {
	background-color: #292828;
	outline: 0;
	border-radius: inherit;
	padding-left: 2.5vh;
}

.button-title {
	width: 20%;
}

.success {
	/* display: flex;
	gap: 15px;
	background-color: #efe;
	border: 1px solid #ded;
	color: #9a9; */
}

.alert {
	/* position: relative;
	top: 10;
	left: 0;
	width: auto;
	height: auto;
	padding: 10px;
	margin: 10px;
	line-height: 1.8;
	border-radius: 5px;
	cursor: hand;
	cursor: pointer;
	font-family: sans-serif;
	font-weight: 400; */
}

.main {
	/* height: 100%;
	width: 100%; */
}

.absolute-bottom {
	position: absolute;
	display: flex;
	bottom: 3vh;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	height: 45px;
}
.absolute-bottom:focus-within:active {
	/* outline: auto; */
	color: var(--text);
	border: 0px solid;
	/* outline-style: solid;
	outline-color: none;
	outline-width: medium; */
	border-radius: inherit;
	background-color: #292828;
}
.todo-input:focus-within {
	background-color: #292828;
}

.todo-input {
	width: 80%;
	height: 100%;
	border-radius: 5px 0 0 5px;
	background-color: rgb(59, 59, 64);
	border-style: none;
	padding-left: 2vh;
	color: var(--text);
	font-size: large;
}
.todo-button {
	width: 20%;
	border-radius: 0 5px 5px 0;
	background-color: rgb(68 70 91 / 98%);
	border-style: none;
	color: var(--text);
	font-size: large;
	cursor: pointer;
}

.todo-button-list {
	width: 10%;
	border-radius: 0 5px 5px 0;
	background-color: rgb(68 70 91 / 63%);
	border-style: none;
	color: var(--text);
	font-size: large;
	cursor: pointer;
}
.marked {
	width: 10%;
	background-color: rgb(68 70 91 / 63%);
	border-style: none;
	color: var(--text);
	font-size: large;
	cursor: pointer;

	border-radius: 0 0 0 0;
}

/* .todo-button:focus-within {
} */

.todo-input:focus,
:active {
	outline: none;
	color: var(--text);
	border-radius: 5px;
	min-height: auto;
}
