/* The switch - the box around the slider */
.switch {
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
}

/* The slider */
.slider {
	font-size: 5vh;
	cursor: pointer;
}
.thumb {
	-webkit-transition: 0.4s;
	transition: 0.4s;
}
